// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(196, 221, 217);
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20 px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15;
  }
  h3,
  p {
    margin: 0;
  }
  svg {
    cursor: pointer;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }

  .btn-close {
    cursor: pointer;
  }
}

.clearCart {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
  text-align: right;
  margin-bottom: 5px;
}

.favoritesEmpty,
.ordersEmpty {
  .greenButton {
    width: 50% !important;
    img {
      right: 30px !important;
    }
  }
}

.itemEmpty {
  width: 350px;
  height: 390px;

  .greenButton {
    width: 90%;
    position: relative;
    &:disabled {
      background-color: #c8c8c8;
      cursor: default;
    }
    &:hover {
      img {
        transform: rotate(180deg) translateX(8px);
      }
    }
    img {
      position: absolute;
      transform: rotate(180deg);
      left: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border: 0;
  border-radius: 18px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: margin-right 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
    img {
      transform: translateX(8px);
      transition: transform 0.2s ease-in-out;
    }
  }
  img {
    margin-left: 30px;
    top: 20px;
  }

  &:active {
    background: darken($color: #80b342, $amount: 0);
  }
}

.cartItem {
  border: 1px solid #cacaca;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .sku {
    opacity: 0.3;
    position: absolute;
    margin-top: 45px;
    margin-left: 25px;
  }

  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -5px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
}

.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.orders {
  .lds-facebook {
    display: inline-block;
    position: relative;
    margin-left: 50%;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgba(103, 174, 144, 0.49);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }
}
